*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    scroll-padding-top: 85px;
}
:root{
   --primary-color:rgb(36, 116, 214);
--font-family:  "Plus Jakarta Sans", sans-serif;
--secondary-color:rgb(236,244,255);
}
body{
background-color: var(--secondary-color);}